h1{
    
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(128, 0, 32);
    font-size: 50px;
    text-decoration: red underline wavy;
    font-family: segoe UI, futura;
 
}
p{
    text-align: left;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    font-size: 20px;
}
a{
    text-decoration: none;
}
button {
    font-size: 80px;
    color: yellowgreen;
    background-color: aqua;
}
h1,h2 {
    color: red;
}
nav{
    font-size: 20px;
}