body{
    font-family: Arial;
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 0;
    border: 3px solid red;
}
a{
    text-decoration: none;
}
header {
    background-color: white;
    display: flex; 
    align-items: center;
    padding: 5px;
}
header a{
    color: black;
}
#logo {
    color: white;
    width: 50px;
    height: 50px;
    background-color: rgb(250, 4, 4);
    margin: 10px;
    margin-left: 40px;
    border: 1px solid rgb(202, 8, 8);
    border-radius: 100%;
    font-size: 50px;
    text-align: center;
    padding: 5px;
}
#logo {
    background-color: rgb(235, 113, 113);
    color: white;
    font-size: -0.1em;
    padding: .6rem;
    margin-bottom: 20px;
}
header ul{
    list-style: none;
    display: flex;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 60%;
}
#logo:hover{
    background-color: rgb(255 11 11);
    margin-left: 50px;
    color: white;
}
#menu-n li {
        padding: 0 20%;
}
#menu-n li.hover{
    color: red;
}
button {
    width: 200px;
    height: 50px;
    padding: 14px;
    font-size: 20px;
    border: 2px solid rgba(255, 0, 0, 0.945);
    color: white;
    background-color: rgb(255 60 60);
    border-radius: 10px;
    align-items: center;
    position: relative;
    top: 8px; left: 5%;
}
.section-0 {
    background-image:url('Nagri-123.jpg');
    background-size: cover;
    background-color: white;
    height: 935px;
    width: 950px;
    margin: 8%;
    margin-top: -23px;
    padding: 35px;
    padding-top: 0%;

    border: 3px solid rgb(205, 212, 212);
}.text {
    margin: auto;
    margin-left: 10px;
    padding: 0 30px ;
}
.input {
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-left: 2.5%;
    margin-top: 190px;
}
.input div {
    padding: 30px;
    font-size: 30px;
}
.paragraph{
    margin-left: 65px;
    margin-top: 40%;
}
.section002{
    background-color:white;
    width: auto;
    height: 650px;
}
.heading-1 {
    margin: -2%;
    margin-left: 41.3%;
    margin-top: -43%;
    padding: 0%;

}
.name-1{
    width: 500px;
    display: flex;
    padding: 10%;
    padding-left: 130px;
    padding-right: 20px;
    text-align: left;
    letter-spacing: 1px;
    margin-right: 10px;
    margin-bottom: 60px;
    position:relative;
    left: 400px; bottom: 100px;
    line-height: 32px;

}
.favorite{
    width: 235px;
    height: 50px;
    padding: 1px;
    font-size: 20px;
    border: 2px solid rgba(255, 0, 0, 0.945);
    color: white;
    background-color: rgb(255 60 60);
    border-radius: 9px;
    align-items: center;
    position: relative;
    bottom: 10px; left: 33%;
}
.about {
    margin: 6px;
    margin-left: 100px;
    padding: 1%;
    padding-bottom: 2px;
    position: relative;
    bottom: 90px;
}
.dives img {
    border: 2px solid black;
    width: 410px;
    height: 500px;
    margin: auto;
    margin-left: 7rem;
    position: relative;
    bottom: 5em;
}
.favorite{
    margin: 30px;
    margin-left: 10%;
    margin-bottom: 20px;
    position: relative;
    top: -240px;
}
.section-1 {
    background-color: white;
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.box-1 {
    background-color: rgb(251 251 249 / 84%);
    color: black;
    width: 80px;
    height: 80px;
    margin: -8px;
    border-radius: 8%;
    padding-right: 1%;
    margin-left: 42px;
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
    position: relative;
    bottom: 80px; left: 75px;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px #eae0e0;
}
#head {
    font-size: 14px;
    margin: auto;
    margin-left: 116px;
    position: relative;
    bottom: 100px;
}
#head-1 {
    font-size: 14px;
    margin: auto;
    margin-left: 48%;
    position: relative;
    bottom: 145px;
}
.section-2 {
    background-color: white;
    width: auto;
    height: 580px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    bottom: -42px; left: -14px;
}
.box-2{ 
    background-color: rgb(251 251 249 / 84%);
    width: 470px;
    height: 400px;
    display: inline-block;
    margin: 12px;
    border-radius: 4%;
    padding: 20px;
    padding-left: 1%;
    padding-bottom: 3%;
    margin-left: 20px;
    position: relative;
    bottom: 200px; right: 38px;
    font-size: 11px;
    box-shadow: 5px 5px 5px 5px #eae0e0;
}

.section-3{
    background-color: white;
    width: auto;
    height: 610px;
    text-align: center;
    margin-top: 80px;
}
.services-1 {
    font-size: 14px;
    margin: auto;
    margin-left: 8rem;
    position: relative;
    bottom: 250px; right: 10px;
    line-height: 14px;
}
.box-3 h1{
    padding: 20px;
    position: relative;
    top: 35px;
}
.box-3 {
    background-color: rgb(251 251 249 / 84%);
    width: 270px;
    height: 200px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    margin-left: 40px;
    border-radius: 4%;
    padding-right: 10px;
    padding-left: 1%;
    padding-bottom: 3%;
    position: relative;
    bottom: 19rem; left: -57px;
    font-size: 14px;
    box-shadow: 5px 5px 5px 5px #eae0e0;
}
.circle{
    color: red;
    font-size: 50px;
    width: 67px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid red;
    text-align: center;
    margin-left: 85px;
    position: relative;
    top: 40px;
    padding-top: 5px;
}
.section-4 {
    background-color: white;
    width: auto;
    height: auto;
    margin: 50px;
    
}
.head-1{
    margin-left: 72px;
    font-size: 15px;
    position: relative;
    top: -26em;
    line-height: 10px;
}
.service-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 9px;
    margin-bottom: 10px;
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 25rem; left: -8px;
}
.service-1{
    height: 350px;
    width: 296px;
    background-color: rgb(252, 250, 250);
    margin-bottom: 55px;
    margin-left: 60px;
    border-radius: 5px;
}
.service-1 img {
    width: 296px;
}
.service-1 i{
    color: red;
    margin: auto;
    margin-left: 1%;
    position: relative;
    left: 45px; bottom: 1px;  
}
.service-1 h1 {
    font-size: 16px;
    margin-left: 20px;
}
.section-5 {
    background-color: white;
    width:auto;
    height: 100px;
    position: relative;
    top: -50px;
}
.heading-5 {
    font-size: 16px;
    margin: auto;
    margin-left: 99px;
    line-height: 7px;
    position: relative;
    bottom: 28em; left: 20px;
}
.section-6 {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: auto;
    height: 510px;
    margin-bottom: 23px;
    position: relative;
    bottom: 73px;
}
.box-5 {
    background-color: rgb(251 251 249 / 84%);;
    font-size: 28px;
    width: 400px;
    height: 410px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 4px;
    padding-left: 60px;
    margin-left: 4%;
    text-align: left;
    position: relative;
    left: 5%; bottom: 29rem;
} 
.box-5 h1 {
    color: red;
    width: 40px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 63px;
    margin: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    bottom: 5px; right: 18px; left: -34px;
    padding-bottom: 20px;
    align-items: center;
}
.box-5 img{
    border: 1px solid red;
    border-radius: 50%;
    position: relative;
    right: 25%; bottom: 14rem;
}
.box-5 h2 {
    width: 35px;
    height: 5px;
    color: red;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    align-items: center;
}
#bottom {
    display: flex;
    flex-direction: row;
    border-left: 4px solid red;
    background-color: rgb(251 251 249 / 84%);;
    height: 36px;   
 }
 #bottom h4 {
     position: relative;
     bottom: 32px;
 }
 #bottom h6 {
    position: relative;
    bottom: 30px;
}
.heading-6 {
    font-size: 16px;
    margin: 10px;
    margin-left: 28px;
    position: relative;
    left: 10px; bottom: 33rem;
    line-height: 1em;
}
.section-7 {
    background-color: white;
    width:auto;
    height: 100px;
    position: relative;
    top: -70px;
    margin-left: 6%;
    font-size: 20px;
}
.section-8 {
    display: flex;
    flex-direction: row;
    height: 650px;
    width: auto;
    background-color: white;
    margin: auto; 
    margin-left: 85px;  
}
.box-8 {
        background-color: green;
        width: 489px;
        height: 400px;
        margin: 15px;
        margin-top: -20rem;
        position: relative;
        bottom: 18rem; left: 10px;
}
.box-9 {
    background-color: rgb(243 243 243);
    width: 455px;
    height: 255px;
    border-radius: 10px;
    margin-top: 53%;
    margin-left: 18px;
}
.box9-heading {
    border-left: 3px solid red;
    height: 20px;
    margin-left: 0%;
    position: relative;
    top: 20px;
    padding-left: 10px;
}
#favorite001 {
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 22px;
}
.section-8 h2 {
    margin-left: 30px;
}
.section-8 p {
    margin-left: 30px;
}
.section-9 {
    display: flex;
    flex-direction: row;
    height: 650px;
    width: auto;
    background-color: white;
    position: relative;
    bottom: 2.6rem; 
    margin: auto;
    margin-left: 86px;  
}
.section-9 h2 {
    margin-left: 30px;
}
.section-9 p {
    margin-left: 30px;
}
.section-11 {
    background-color: white;
    width:auto;
    height: 100px;
    position: relative;
    top: 50px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 10px;
}
.section-12 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 590px;
    background-color: white;
    position: relative;
    top: 50px;
    margin: auto;
    margin-left: 30px;
}
.form-1 {
    background-color: white;
    width: 500px;
    height: 530px;
    margin: 35px;
    margin-left: -40px;
    padding-left: 40px;
}
.form-2 {
    background-color: #f7f7f4;
    width: 500px;
    height: 530px;
    border: 3px solid #f7f7f4;;
    border-radius: 10px;
    margin: 37px;
    margin-left: 70px;
    padding-left: 10px;
    line-height: 60px;
}
.form-3 {
    font-size: 20px;
    line-height: 40px;
}
.section-12 button {
    margin: 1%;
    margin-left: -18px;
    margin-top: 70px;
    padding: 2%;
    padding-left: 10;
}
.custom {
    height: 35px;
    font-size: 20px;
    width: 95%;
}
.section-13 {
    width: auto;
    height: 30px;
    color: white;
    background-color: rgb(173, 11, 38);
    position: relative;
    top: 40px;
}
footer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #45a1ff; 
    align-items: center; 
    padding-left: 30%;
}

