body{
    font-family: 'open sans',sans-serif ;
} 
h1 {
    text-align: center;

}
#container {
    background-color: #03902d;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid ;
    display: flex;
    flex-direction: row;
    justify-content:center;
    /*   */
}
#container div{
    width: 200px;
    height: 200px;
    text-align: center;
    flex-basis: 200px; 
    flex-grow: 2;
}
div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
}
div:nth-of-type(5) {
    flex-grow: 2;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}
main .sidebar {
    background-color: #6930c3;
    flex: 1 2 300px;
}
main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
}