h1{
    color: sandybrown;
    background-color: #2ff3a2;
    
}
button{
    background-color: #2ff3a2;
    border-radius: 20% 0;
    width: 70px;
    height: 80px;
}
p{
    background-color: rgb(82, 100, 93);
    border: bottom left radius 10px;;
}
body{
    background-color: #ca2;
}
